@tailwind base;
@tailwind components;
@tailwind utilities;

.full-app {
  min-height: 100vh;
  display: flex;
  background-image: url(./assets/backImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
